service: fast-khi

frameworkVersion: "3"

provider:
  name: aws
  lambdaHashingVersion: 20201221
  runtime: nodejs14.x
  stage: dev
  region: us-east-2

functions:
  candidateSubmission:
    handler: handler.server
    memorySize: 128
    description: Submit candidate information and starts interview process.
    events:
      - http: # this is an API Gateway HTTP event trigger
          path: /
          method: ANY
          cors: true
      - http: # all routes get proxied to the Express router
          path: /{proxy+}
          method: ANY
          cors: true
